<h1>Timeline of Events</h1>

<%= content_tag :table do %>
  <%= content_tag :thead do %>
    <%= content_tag :th, "Start Date" %>
    <%= content_tag :th, "End Date" %>
    <%= content_tag :th, "Headline" %>
    <%= content_tag :th, "Event Group" %>
    <%= content_tag :th, "Event Type" %>
    <%= content_tag :th, "Edit" %>
  <% end %>
  <%= content_tag :tbody do %>
    <% @events.each do |event| %>
      <%= content_tag :tr do %>
        <%= content_tag :td, formatted_date(event.startYear, event.startMonth, event.startDay) %>
        <%= content_tag :td, formatted_date(event.endYear, event.endMonth, event.endDay) %>
        <%= content_tag :td, event.headline %>
        <%= content_tag :td, event.eventgroup.group %>
        <%= content_tag :td, event.eventtype.eventtype %>
        <%= content_tag :td, link_to("Edit", edit_event_path(event))%>
      <% end %>
    <% end %>
  <% end %>
<% end %>
