<main class="site-body">
  <section class="section-inner">
  <h1>Timeline of Events</h1>

    <%= content_tag :table, id: 'eventsTable', class: 'search-table' do %>
      <%= content_tag :thead do %>
        <%= content_tag :th, "Start Date", class: 'skip-filter' %>
        <%= content_tag :th, "End Date", class: 'skip-filter' %>
        <%= content_tag :th, "Event", class: 'skip-filter' %>
        <%= content_tag :th, "Group" %>
        <%= content_tag :th, "Cycle" %>
        <%= content_tag :th, "Edit", class: 'skip-filter action' %>
      <% end %>
      <%= content_tag :tbody do %>
        <% cycle = "Cycle 1"
        @events.each do |event| %>
        <%
        if event.eventgroup.group == "Cycles"
          cycle = event.headline
        else %>
        <% if cycle[-1, 1].to_i % 2 == 0
          cycleClass = "evenRow"
        else
          cycleClass = "oddRow"
        end %>
          <%= content_tag :tr, class: cycleClass do %>
            <%= content_tag :td, formatted_date(event.startYear, event.startMonth, event.startDay) %>
            <%= content_tag :td, formatted_date(event.endYear, event.endMonth, event.endDay) %>
            <%= content_tag :td, event.headline.html_safe %>
            <%= content_tag :td, event.eventgroup.group %>
            <%= content_tag :td, cycle %>
            <%= content_tag :td, link_to("Edit", edit_event_path(event), class: 'btn btn-secondary is-tiny'), class: 'action' %>
          <% end
          end %>
        <% end %>
      <% end %>
    <% end %>

    <script>
    $(document).ready(function() {
      $("#eventsTable").ddTableFilter();
      $('table.search-table').tableSearch({
        searchText:'Search Events: ',
        searchPlaceHolder:'i.e. Heroic'
      });
    });
    </script>
  </section>
</main>
