<header class="site-header">
  <nav class="site-nav">
    <ul>
      <li class="logo"><a href="<%= root_path %>"><img src='http://placehold.it/32x32'></a></li>
      <%= nav_link("Home", root_path, '', '') %>
      <%= nav_link("Events", events_path, '', '') %>
      <%= nav_link("The Bahá’í Calendar", calendar_path, '', '') %>
      <%= nav_link("About", about_path, '', '') %>
      <% if admin_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
