<!DOCTYPE html>
<html>
<head>
  <title>Bahá’í Timeline</title>
  <%= render 'favicon' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="site-message is-pinned is-info"><%= notice %></p>
<p class="site-message is-pinned is-danger"><%= alert %></p>

<%= render 'layouts/header' %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
