<!DOCTYPE html>
<html>
<head>
  <title>Bahá’í Timeline</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="Bahá’í Timeline" />
  <meta property="og:description" content="Bahá’í Timeline of historic events. Information and categorization of each event." />
  <meta property="og:site_name" content="Bahá’í Timeline" />
  <meta property="og:image" content="<%= request.protocol + request.host_with_port + asset_path('timeline-symbol.png') %>" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <%= render 'favicon' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="site-message is-pinned is-info"><%= notice %></p>
<p class="site-message is-pinned is-danger"><%= alert %></p>

<%= render 'layouts/header' %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
